.ul-fragment-links {
    padding-bottom: 2em;
}

.ul-fragment-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul-fragment-links li {
    padding-bottom: 0.5em;
}

.hidden {
    display: none;
}

.loading-container {
    display: none
}

.htmx-request form {
    display: none;
}

.htmx-request .loading-container {
    display: block;
}
