.main-wrapper {
    max-width: 1100px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
}

.split-nav {
    width: 260px;
}

.split-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.split-nav li {
    padding-bottom: 0.5em;
}

.split-content {
    display: flex;
    min-width: 0;
    padding-left: 30px;
    flex: 1 1 100%;
    flex-direction: column;
}

.hidden {
    display: none;
}
