{% extends '_' + design_type + '.html' %}


{% block content %}
<h1 class="govuk-heading-xl">Groups</h1>

{% if can_create_group %}
<a href="{{ url_for('route_new_group') }}" class="govuk-button govuk-button--secondary">
    Create new group
</a>
{% endif %}

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
                Group Name
            </th>
            <th scope="col" class="govuk-table__header">
                Membership
            </th>
            <th scope="col" class="govuk-table__header">
                Actions
            </th>
        </tr>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <a href="/group/{{ group.group_id }}" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">{{ group.group_name }}</a>
                <p class="govuk-body-s">{{ group.description }}</p>
            </td>
            <td class="govuk-table__cell">
                {{ group.group_visibility }}
            </td>
            <td class="govuk-table__cell" id="group-{{ group.group_id }}">
                {% if group.is_member and group.could_leave %}
                <form action=" {{ url_for('route_leave_group', group_id=group.group_id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button
                            type="submit"
                            hx-post="{{ url_for('route_leave_group', group_id=group.group_id) }}"
                            hx-target="#group-{{ group.group_id }}"
                            hx-select="#group-{{ group.group_id }}"
                            hx-swap="outerHTML"
                            hx-disabled-elt="this"
                            hx-indicator="#group-{{ group.group_id }}"
                            class="govuk-button govuk-button--warning">Leave Group</button>
                </form>
                {% elif not group.is_member and group.could_join %}
                <form action="{{ url_for('route_join_group', group_id=group.group_id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button
                            type="submit"
                            hx-post="{{ url_for('route_join_group', group_id=group.group_id) }}"
                            hx-target="#group-{{ group.group_id }}"
                            hx-select="#group-{{ group.group_id }}"
                            hx-swap="outerHTML"
                            hx-disabled-elt="this"
                            hx-indicator="#group-{{ group.group_id }}"
                            class="govuk-button ">Join Group</button>
                </form>
                {% endif %}
                <p class="loading-container govuk-body-m">Loading...</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
