{% extends '_' + design_type + '.html' %}

{% block content %}
<div class="main-wrapper">
    <div class="split-nav ul-fragment-links">
        <ul>
            <li>
                <p class="govuk-body">{{ group.group_name }}</p>
            </li>
            {% if group.is_admin %}
            <li>
                <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/group/{{ group.group_id }}#members">
                    Members
                </a>
            </li>
            {% endif %}
            <li>
                <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/group/{{ group.group_id }}#about">
                    About
                </a>
            </li>
            {% if group.is_admin %}
            <li>
                <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/group/{{ group.group_id }}#settings">
                    Settings
                </a>
            </li>
            {% endif %}
            {% if group.allow_self_join %}
            <li>
                <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/group/{{ group.group_id }}/join">
                    Share link to this group
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="split-content">
        {% if group.is_admin %}
        <main id="main-content-members" class="main-content hidden" role="main">
            <h2 class="govuk-heading-l">
                Members
            </h2>

            <a class="govuk-button govuk-button--secondary" href="/group/{{ group.group_id }}/members.csv">
                Download CSV
            </a>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Type</th>
                        <th scope="col" class="govuk-table__header">Actions</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for member in group.members %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ member.UserEmail }}</td>
                        <td class="govuk-table__cell">{{ member.MemberType }}</td>
                        <td class="govuk-table__cell">...</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        {% endif %}
        <main id="main-content-about" class="main-content hidden" role="main">
            <h2 class="govuk-heading-l">
                About
            </h2>
            <p class="govuk-body">{{ group.group_desc }}</p>
        </main>
        {% if group.is_admin %}
        <main id="main-content-settings" class="main-content hidden" role="main">
            <h2 class="govuk-heading-l">
                Settings
            </h2>
            <p class="govuk-body">{{ group.group_desc }}</p>
            <form method="post" action="/delete-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="group_id" value="{{ group.group_id }}" />
                <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" onclick="disable_button(this);">
                    Delete Group
                </button>
            </form>
        </main>
        {% endif %}
    </div>
</div>


{% endblock %}
