{% extends '_' + design_type + '.html' %}

{% block content %}

<h1 class="govuk-heading-l">New Group</h1>
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="{{ design_dictionary.formgroup }}">
        <h2 class="{{ design_dictionary.labelwrap }}">
            <label class="{{ design_dictionary.label }} govuk-label--m" for="group_name">
                What is the name of your group?
            </label>
        </h2>
        <input class="{{ design_dictionary.input }}" id="group_name" name="group_name" type="text">
    </div>

    <div class="{{ design_dictionary.formgroup }}">
        <h2 class="{{ design_dictionary.labelwrap }}">
            <label class="{{ design_dictionary.label }} govuk-label--m" for="group_desc">
                How would you describe your group to your users?
            </label>
        </h2>
        <textarea class="{{ design_dictionary.textarea }}" id="group_desc" name="group_desc" rows="5"></textarea>
    </div>

    <div class="{{ design_dictionary.formgroup }}">
        <label class="{{ design_dictionary.label }} govuk-label--m" for="group_visibility">
            Select the appropriate permission for your group
        </label>
        <select class="{{ design_dictionary.select }}" id="group_visibility" name="group_visibility">
            <option value="any">Any - visible to any person</option>
            <option value="authorised">Authorised - visible to specified domains</option>
            <option value="private">Private - closed group that requires owners and managers to add people</option>
        </select>
    </div>

    <button type="submit" class="{{ design_dictionary.button }}" data-module="govuk-button">
        Continue
    </button>
</form>

{% endblock %}
