{% extends '_govuk.html' %}

{% block content %}
<h1 class="govuk-heading-xl">{{ group.group_name }}</h1>

<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="groupName">
            What is the name of the group?
        </label>
    </h1>
    <input class="govuk-input" id="groupName" name="groupName" type="text" value="{{ group.group_name }}">
</div>

<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="groupDesc">
            Describe the group to members
        </label>
    </h1>
    <textarea class="govuk-textarea" id="groupDesc" name="groupDesc" rows="5">{{ group.group_desc }}</textarea>
</div>


{% endblock %}
